<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" default-autowire="byType" default-lazy-init="true">
	
	<bean id="OperateProcess" class="com.games.catan.framework.RequestProcess"></bean>	
	
	<bean id="clientStatusService" class="com.games.catan.service.ClientStatusService"></bean>
	<bean id="gameRoomService" class="com.games.catan.service.GameRoomService"></bean>
	<bean id="waitingRoomService" class="com.games.catan.service.WaitingRoomService"></bean>
	<bean id="userService" class="com.games.catan.service.UserService"></bean>
	<bean id="landService" class="com.games.catan.service.LandService"></bean>
	<bean id="resourceAreaService" class="com.games.catan.service.ResourceAreaService"></bean>
	<bean id="playerService" class="com.games.catan.service.PlayerService"></bean>
	<bean id="seaportService" class="com.games.catan.service.SeaportService"></bean>
	<bean id="diceService" class="com.games.catan.service.DiceService"></bean>
	
	<bean id="applicationGameStatus" class="com.games.catan.framework.ApplicationGameStatus" scope="singleton"></bean>
	<bean id="catanLocalThread" class="com.games.catan.framework.CatanLocalThread" scope="singleton"></bean>
	<bean id="websocketTool" class="com.games.catan.framework.WebsocketTool" scope="singleton"></bean>
	
	<bean id="loginOperate" class="com.games.catan.operate.LoginOperate" scope="prototype"></bean>
	<bean id="logoutOperate" class="com.games.catan.operate.LogoutOperate" scope="prototype"></bean>
	<bean id="queryWaitingRoomInfoOperate" class="com.games.catan.operate.QueryWaitingRoomInfoOperate" scope="prototype"></bean>
	<bean id="selectRoomOperate" class="com.games.catan.operate.SelectRoomOperate" scope="prototype"></bean>
	<bean id="diceOperate" class="com.games.catan.operate.DiceOperate" scope = "prototype"></bean>
	
	<bean id="roomNotice" class="com.games.catan.service.notice.RoomNotice"></bean>
	<bean id="waitingRoomNotice" class="com.games.catan.service.notice.WaitingRoomNotice"></bean>
</beans>